
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=foundWord.name%></title>
<link rel="stylesheet" href="/css/style.css">
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADHnHMA7bWAAImmXQAAAAAAhNaBALNbCQD6+voACmT1AIWA2QCZmZkAfqvyAAfD7QD1hRsAEgm6AFePAQARvQkAMzMzMzMzMzM8zMNVVTMzMzwRw1AFM5kzPBHDUAUzmTM8zMNVVTMzMzMzMzMzMzMzPu7j//83d3M+IuP0Tzeqcz4i4/RPN6pzPu7j//83d3MzMzMzMzMzMz3d03d3O7uzPYjTeqc7ZrM9iNN6pztmsz3d03d3O7uzMzMzMzMzMzP//wAAhCEAAIQhAACEIQAAhCEAAP//AACEIQAAhCEAAIQhAACEIQAA//8AAIQhAACEIQAAhCEAAIQhAAD//wAA" rel="icon" type="image/x-icon" />
<script src="https://use.fontawesome.com/bf46144db9.js"></script>
