<ul>

  <li>
      <i class="fa fa-plus" aria-hidden="true"><a href="/words/create"> Add</a></i>
  </li>

  <li>
      <i class="fa fa-bookmark" aria-hidden="true"><a href="/roygbiv"> Colors</a></i>
  </li>

  <li>
      <i class="fa fa-bars" aria-hidden="true"><a href="/words"> Thesaurus</a></i>
  </li>

</ul>
