<ul>

  <li>
    <a href="/words/create">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a> Add
  </li>

  <li>
    <a href="/roygbiv">
      <i class="fa fa-bookmark" aria-hidden="true"></i>
    </a> Colors
  </li>

  <li>
    <a href="/words">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a> Thesaurus
  </li>

</ul>
