<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="create container">
    <h1>Add to the Thesaurus</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
      <form action="/words" method="POST">
        <label for="select">Color Family</label>
        <select name="roygbivId">
          <% for (let i = 0; i < colors.length; i++) { %>
              <option value="<%=colors[i]._id%>"><%=colors[i].name%></option>
          <% } %>
        </select>
        <label for="color_name">Color Name</label>
        <input type="text" name="name" placeholder="ruby, sapphire..."/>
        <label for="select">Hex Color Code</label>
        <input type="text" name="hex" placeholder="example: #000000"/>
        <input type="submit" value="Add" />
      </form>
    </main>
  </body>
</html>
