<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container">
    <h1>Create a Word</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
      <form action="/words" method="POST">
        <select name="roygbivId">
          <% for (let i = 0; i < colors.length; i++) { %>
              <option value="<%=colors[i]._id%>"><%=colors[i].name%></option>
          <% } %>
        </select><br/>
        <input type="text" name="name" placeholder="name"/>
        <input type="text" name="hex" placeholder="hex"/>
        <input type="submit" value="Create" />
      </form>
    </main>
  </body>
</html>
