<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Color Words</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/words/create">Create a new color word</a></li>
    </ul>
  </body>
</html>
