<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container">
    <h1>Color Words</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
    	<h2>List of Words</h2>
    	<ul>
    		<% for(let i = 0; i < words.length; i++){ %>
    			<div style="background-color:<%=words[i].hex%>" class="word-family">
    				<a href="/words/<%=words[i]._id%>"><%=words[i].name%></a>
    			</div>
    		<% } %>
    	</ul>
    </main>
  </body>
</html>
