<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container">
    <h1>Thesaurus</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
      <ul>
        <% for (word of foundWords) { %>
            <div style="background-color:<%=word.hex%>" class="color-family">
                <a href="/words/<%=word._id%>">
                  <%=word.name%>
                </a>
            </div>
        <% } %>
      </ul>
    </main>
  </body>
</html>
