<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Color Thesaurus</title>
    <link rel="stylesheet" href="/css/style.css">   
  </head>
  <body>
    <h1>Color Thesaurus</h1>
    <nav>
      <ul>
        <li><a href="/roygbiv">roygbiv</a></li>
        <li><a href="/thesaurus">thesaurus</a></li>
      </ul>
    </nav>
  </body>
</html>
