<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <h1>Color Thesaurus</h1>
    <nav>
      <ul>
        <li><a href="/roygbiv">roygbiv</a></li>
        <li><a href="/words">thesaurus</a></li>
      </ul>
    </nav>
  </body>
</html>
