<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body id="landing-page">
    <section>
      <h1><a href="/roygbiv">The Color Thesaurus</a></h1>

    </section>
  </body>
</html>
