<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body id="landing-page">
    <section>
      <h1>The Color Thesaurus</h1>
          <a href="/roygbiv">enter</a>
    </section>
  </body>
</html>
