/*FONT IMPORTS*/
@import url('https://fonts.googleapis.com/css?family=Stalemate');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

* {
  padding: 0;
  margin: 0;
  color: #111111;
  font-family: 'Special Elite', cursive;
}

/*LANDING PAGE*/
#landing-page {
  background-image: url('../images/color_grad.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

#landing-page a {
  position: fixed;
  top: 31%;
  left: 3%;
  font-size: 7vw;
  text-decoration: none;
  color: #FFFFFF;
}

#landing-page a:hover {
  color: #111111;
}

/*NAVIGATION*/
nav ul {
  display: flex;
  justify-content: center;
  margin: 1% auto;
}

nav li {
  list-style: none;
  padding: 1%;
}

a:hover {
  color: #FFFFFF;
}

i {
  text-shadow: 1px 1px #FFFFFF;
}

i:hover {
  color: #AAAAAA;
}

/*ROYGBIV*/
.container {
  margin: 5%;
}

.container a {
  list-style: none;
  text-decoration: none;
  font-size: 2em;
}

.container h1 {
  font-size: 5em;
  text-align: center;
  margin: -3%;
  text-shadow: 2px 2px #FFFFFF;
}

main ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color-family {
  padding: 2%;
  text-align: center;
  margin: .25%;
  border-radius: 3px;
}

.word-family {
  padding: 5%;
  width: 100px;
  text-align: center;
  margin: 1%;
}

.word-grid {
  padding: 2%;
  width: 100px;
  height: 15px;
  text-align: center;
  margin: 1%;
}

.content {
  margin-bottom: 2%;
  text-align: center;
}

.text-label {
  color: #AAAAAA;
  margin-right: 2%;
}

.text-box {
  padding: 2%;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 5px #111111;
  width: 75%;
  margin: 0 auto;
}
