/*FONT IMPORTS*/
@import url('https://fonts.googleapis.com/css?family=Stalemate');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

* {
  padding: 0;
  margin: 0;
  color: #111111;
  font-family: 'Special Elite', cursive;
}

/*LANDING PAGE*/
#landing-page {
  background-image: url('../images/color_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

#landing-page h1 {
  position: absolute;
  top: 31%;
  left: 3%;
  font-size: 3em;
}

#landing-page a {
  font-size: 1em;
  position: absolute;
  top: 38%;
  left: 11%;
  text-decoration: none;
  color: #AAAAAA
}

#landing-page a:hover {
  color: #DDDDDD
}

/*NAVIGATION*/
nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  padding: 1%;
}

i {
  text-shadow: 1px 1px #FFFFFF;
}

/*ROYGBIV*/
.container {
  margin: 5%;
}

.container a {
  list-style: none;
  text-decoration: none;
  font-size: 2em;
}

.container h1 {
  font-size: 5em;
  text-align: center;
  margin: -3%;
  text-shadow: 2px 2px #FFFFFF;
}

main ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.color-family {
  padding: 5%;
  width: 100px;
  text-align: center;
  margin: 1%;
  border-radius: 5px;
}

.word-family {
  padding: 5%;
  width: 100px;
  text-align: center;
  margin: 1%;
}

.word-grid {
  padding: 2%;
  width: 100px;
  height: 15px;
  text-align: center;
  margin: 1%;
}

.content {
  margin-bottom: 2%;
  text-align: center;
}

.text-label {
  color: #AAAAAA;
  margin-right: 2%;
}

.text-box {
  padding: 2%;
  background-color: #FFFFFF;
}
