<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>ROYGBIV</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
    <h2>List of Colors</h2>
    <ul>
        <% for(let i = 0; i < colors.length; i++){ %>
            <div style="background-color:<%=colors[i].hex%>" class="color-family">
                <a href="/roygbiv/<%=colors[i]._id%>">
                  <%=colors[i].name%>
                </a>
            </div>
        <% } %>
    </ul>
</main>
  </body>
</html>
