<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>ROYGBIV</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/roygbiv/create">Create a New ROYGBIV</a></li>
      </ul>
    </nav>
  </body>
</html>
