<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container">
    <h1>Colors</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
    <ul>
      <% for (color of foundColors) { %>
          <div style="background-color:<%=color.hex%>" class="color-family">
              <a href="/roygbiv/<%=color._id%>">
                <%=color.name%>
              </a>
          </div>
      <% } %>
    </ul>
</main>
  </body>
</html>
